@{
  ViewData["Title"] = "Home Page";
}

@using HooksR.Entities;

@{
  User user = ViewBag.User;

  <p>User Hash :@user.Hash </p>
}
<div ng-app="homeapp">
  <div id="controller" ng-init="init('@ViewBag.User.Hash')" ng-controller="homeController">
    <input class="form-control" type="text" placeholder="{{userhash}}" readonly>
    <h2>{{Message}}</h2>
    <div>
      <table id="table_requests" ng-class="['table-hover', 'table-sm']" ng-show="requests && requests.length > 0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Method</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light" ng-repeat="row in requests">
            <td>{{requests.length - $index}}</td>
            <td><span class="badge badge-pill badge-success">{{row.request.method}}</span></td>
            <td>{{row.request.timeStamp | date:'MMMM d - h:mm:ss.sss a' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>