@{
  ViewData["Title"] = "Home Page";
}

@using HooksR.Entities;

@{
  User user = ViewBag.User;

  <p>User Hash :@user.Hash </p>
}
<div ng-app="homeapp">
  <div id="controller" ng-controller="homeController">
    <h2>{{Message}}</h2>
    <table id="table_requests" ng-class="['table-hover', 'table-sm', 'table-requestsexpanded']" ng-show="requests && requests.length > 0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Method</th>
          <th scope="col">Time</th>
          <th scope="col">Header</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light" ng-repeat-start="row in requests">
          <td rowspan="{{row.request.headers | keysLength}}">{{requests.length - $index}}</td>
          <td rowspan="{{row.request.headers | keysLength}}"><span class="badge badge-pill badge-success">{{row.request.headers[":method"]}}</span></td>
          <td rowspan="{{row.request.headers | keysLength}}">{{row.request.timeStamp | date:'MMMM d - h:mm:ss.sss a' }}</td>
          <td>{{getKeys(row.request.headers)[0]}}</td>
          <td>{{getValues(row.request.headers)[0]}}</td>
        </tr>
        <tr ng-repeat-end ng-repeat="(headerkey, headervalue) in row.request.headers" ng-if="$index > 0">
          <td>{{headerkey}}</td>
          <td>{{headervalue}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>