@{
  ViewData["Title"] = "Home Page";
}

@using HooksR.Entities;

@{
  User user = ViewBag.User;

  <p>User Hash :@user.Hash </p>
}
<div ng-app="homeapp">
  <div id="controller" ng-controller="homeController">
    <h2>{{Message}}</h2>
    <table class="table" ng-show="requests">
      <tr ng-repeat="row in requests">
        <td>{{row.request.timeStamp | date:'MMMM d yyyy - h:mm:sss a' }}</td>
      </tr>
    </table>

  </div>
</div>